<div class="page">
    <div class="page-header">
      <div>
        <div class="page-title">Документы</div>
        <ud-breadcrumbs [items]="breadcrumbs"></ud-breadcrumbs>
      </div>
    </div>
  
  
    <ud-spinner [show]="loading"></ud-spinner>
  
    <ud-card *ngIf="!loading">
      <ud-card-content>
  
        <creator-components-creator-form
          *ngIf="creator; else notFound"
          [creator]="creator"
          (cancel)="onCancel()"
          (successSubmit)="onFormSuccessSubmit($event)">
        </creator-components-creator-form>
  
        <ng-template #notFound>
          <div class="text-center">Документ не найден</div>
        </ng-template>
  
      </ud-card-content>
    </ud-card>
  
  </div>