<div class="page">
  <div class="page-header">
    <div class="page-title">Промокоды</div>
  </div>

  <div class="row mb-4 align-items-center">
    <div class="col-md-4">
      <a routerLink="./new" class="btn btn-sm btn-round btn-primary">
        + Добавить Промокод
      </a>
    </div>
    <div *ngIf="promoCode?.length" class="col-md-8 text-right mobile-hide">
      <ud-per-page-pagination
        [page]="filters.page"
        [perPage]="filters.per_page"
        [collectionSize]="promoCode?.meta?.total"
        (paramsChange)="onPaginationChange($event)">
      </ud-per-page-pagination>
    </div>
  </div>

  <div *ngIf="!promoCode?.length && !loading" class="text-center">
    Промокоды не найдены
  </div>

  <ud-spinner [show]="loading"></ud-spinner>

  <div *ngIf="promoCode?.length" class="table-responsive">
    <table class="table table-default">
      <thead>
      <tr>
        <th>Название</th>
        <th>Процент</th>
        <th>Конец</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let promoCodeItem of promoCode;let i = index; trackBy: promoCodeTrackByFunc">
        <td>{{ promoCodeItem.name }}</td>
        <td>{{ promoCodeItem.percent }}</td>
        <td>{{ promoCodeItem.end | udDateTime}}</td>
        <td class="text-right">
          <promoCode-components-promoCode-actions
            [promoCode]="promoCodeItem"
            (action)="onPromoCodeAction($event, promoCodeItem, i)">
          </promoCode-components-promoCode-actions>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="promoCode?.length" class="mt-4 text-right">
    <ud-per-page-pagination
      #perPagePagination
      [page]="filters.page"
      [perPage]="filters.per_page"
      [collectionSize]="promoCode?.meta?.total"
      (paramsChange)="onPaginationChange($event)">
    </ud-per-page-pagination>
    <ud-keypress
      (rightArrowPress)="nextPage(perPagePagination.hasNextPage())"
      (leftArrowPress)="prevPage(perPagePagination.hasPrevPage())">
    </ud-keypress>
  </div>

</div>