<div class="page">
  <div class="page-header">
    <div class="page-title">Заявки</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="filterForm" (submit)="onSubmit($event)">
        <ud-forms-controls-wrap>
          <div class="d-flex align-items-center mt-3">
            <ud-forms-control [noMargin]="true" [control]="filterForm.get('id')" class="ml-4">
              <div class="d-flex align-items-center">
                <ud-forms-label styleClass="d-block mr-2 mb-0">ID</ud-forms-label>
                <input placeholder="Укажите id заявки" formControlName="id" type="number" class="form-control" />
              </div>
            </ud-forms-control>

            <ud-forms-control [noMargin]="true" [control]="filterForm.get('type')" class="ml-4">
              <div class="d-flex align-items-center">
                <ud-forms-label styleClass="d-block mr-2 mb-0">Тип</ud-forms-label>
                <p-dropdown [autoWidth]="false" [options]="typeDropBox" formControlName='type' class="d-block">
                </p-dropdown>
              </div>
            </ud-forms-control>

            <ud-forms-control [noMargin]="true" [control]="filterForm.get('status')" class="ml-4">
              <div class="d-flex align-items-center">
                <ud-forms-label styleClass="d-block mr-2 mb-0">Оплата</ud-forms-label>
                <p-dropdown [autoWidth]="false" [options]="statusDropBox" formControlName='status' class="d-block">
                </p-dropdown>
              </div>
            </ud-forms-control>

            <button type="submit" class="btn btn-round btn-primary ml-4">Показать</button>
          </div>
        </ud-forms-controls-wrap>
      </form>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-6">
      <button type="button" [ngClass]="{ 'active': filters.state === '' }" (click)="onFiltersChange({ state: '' })"
        class="btn btn-sm btn-link mr-2">
        Все
      </button>
      <button type="button" [ngClass]="{ 'active': filters.state === 'DONE' }"
        (click)="onFiltersChange({ state: 'DONE' })" class="btn btn-sm btn-link mr-2">
        Завершенные
      </button>
      <button type="button" [ngClass]="{ 'active': filters.state === 'IN_PROGRESS' }"
        (click)="onFiltersChange({ state: 'IN_PROGRESS' })" class="btn btn-sm btn-link mr-2">
        В процессе
      </button>
    </div>
    <div *ngIf="requests?.length" class="col-md-6 text-right mobile-hide">
      <ud-per-page-pagination #perPagePagination [page]="filters.page" [perPage]="filters.per_page"
        [collectionSize]="requestsItemTotal" (paramsChange)="onPaginationChange($event)">
      </ud-per-page-pagination>
    </div>
  </div>

  <ud-spinner [show]="loading"></ud-spinner>

  <div *ngIf="!requests?.length && !loading" class="text-center">
    Заявки не найдены
  </div>

  <div *ngIf="requests?.length" class="table-responsive">
    <table class="table table-default">
      <thead>
        <tr>
          <th>ID</th>
          <th>Тип</th>
          <th>Цена</th>
          <th>Оплата</th>
          <th>Состояние</th>
          <th>Время доставки</th>
          <th>Продукт</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of requests; let i = index; trackBy: requestsTrackByFunc">
          <td>{{ request.id }}</td>
          <td>{{ request.type }}</td>
          <td>{{ request.cost }}</td>
          <td *ngIf="request.isPay === true">Оплачено</td>
          <td *ngIf="request.isPay === false">Не оплачено</td>
          <td *ngIf="request.state === 'IN_PROGRESS'">В процессе</td>
          <td *ngIf="request.state === null">Неопределено</td>
          <td *ngIf="request.state === 'DONE'">Завершена</td>
          <td>{{ request.delivelerTime | udDateTime }}</td>
          <td>{{ request.productModel.name }}</td>
          <td class="text-right">
            <request-components-request-actions [requests]="request" (action)="onRequestAction($event, request, i)"
              [state]="request.state">
            </request-components-request-actions>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="requests?.length" class="mt-4 text-right">
    <ud-per-page-pagination #perPagePagination [page]="filters.page" [perPage]="filters.per_page"
      [collectionSize]="requestsItemTotal" (paramsChange)="onPaginationChange($event)">
    </ud-per-page-pagination>
    <ud-keypress (rightArrowPress)="nextPage(perPagePagination.hasNextPage())"
      (leftArrowPress)="prevPage(perPagePagination.hasPrevPage())">
    </ud-keypress>
  </div>

</div>