.page-404 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-404__inner {
  background-color: #fff;
  padding: 1rem;
}