<form [formGroup]="promoCodeForm" (submit)="onSubmit($event)">
   <ud-card>
    <ud-card-content>
      <div class="row">
        <div class="col-md-3">
          <ud-forms-control [control]="promoCodeForm.get('name')" [errorMessages]="validationMessages.name"
          [disableInvalidClassName]="true" >
            <ud-forms-label [asRequired]="isRequired('name')" [attrFor]="'name'">Название
            </ud-forms-label>
            <input formControlName="name" id="name" type="text" placeholder="Введите имя"
                   class="form-control" />
          </ud-forms-control>
          <ud-forms-control [control]="promoCodeForm.get('percent')" [errorMessages]="validationMessages.percent"
          [disableInvalidClassName]="true">
            <ud-forms-label [asRequired]="isRequired('percent')" [attrFor]="'percent'">Процент</ud-forms-label>
            <input formControlName="percent" id="percent" type="number" rows="12" placeholder="Процент"
                      class="form-control"/>
          </ud-forms-control>
          <ud-forms-control [control]="promoCodeForm.get('comment')" [errorMessages]="validationMessages.comment"
          [disableInvalidClassName]="true">
            <ud-forms-label [asRequired]="isRequired('comment')" [attrFor]="'comment'">Комментарий</ud-forms-label>
            <textarea formControlName="comment" id="comment" type="text" rows="12" placeholder="Комментарий"
                      class="form-control"></textarea>
          </ud-forms-control>
          <ud-forms-control [control]="promoCodeForm.get('end')" [errorMessages]="validationMessages.end"
              class="mr-4 width-100">
              <div class="d-flex align-items-center">
                <ud-forms-label [asRequired]="isRequired('end')" [attrFor]="'end'" styleClass="d-block mr-2 mb-0">Дата окончания действия
                </ud-forms-label>
                <ud-datetime-input formControlName="end" [options]="calendarOptionsFrom" class="width-100">
                </ud-datetime-input>
              </div>
            </ud-forms-control>
          
        </div>
    </div>
    </ud-card-content>
  </ud-card>
   <div class="mt-5">
    <button type="button" (click)="onCancelClicked($event)" class="btn btn-clear p-0">Отмена</button>
    <button type="submit" class="btn btn-round btn-primary ml-4">Сохранить</button>
  </div>
</form>