<div class="page">
    <div class="page-header">
      <div class="page-title">Пользователь</div>
    </div>
  
  
  
    <div class="row">
      <div class="col-12">
        <form [formGroup]="filterForm" (submit)="onSubmit($event)">
          <ud-forms-controls-wrap>
            <div class="d-flex align-items-center mt-3">
              <ud-forms-control [noMargin]="true"
                                [control]="filterForm.get('user_name')" class="ml-4">
                <div class="d-flex align-items-center">
                  <ud-forms-label styleClass="d-block mr-2 mb-0">Ник</ud-forms-label>
                  <input placeholder="Укажите ник" formControlName="user_name" type="text" class="form-control"/>
                </div>
              </ud-forms-control>
  
              <button type="submit" class="btn btn-round btn-primary ml-4">Показать</button>
            </div>
          </ud-forms-controls-wrap>
        </form>
      </div>
    </div>
  
    <div class="row my-4">
      <div class="col-md-6">
        <button type="button" [ngClass]="{ 'active': filters.type === '' }" (click)="onFiltersChange({ type: '' })"
                class="btn btn-sm btn-link mr-2">
          Все
        </button>
        <button type="button" [ngClass]="{ 'active': filters.type === UserRoleEnum.User }"
                (click)="onFiltersChange({ type: UserRoleEnum.User })" class="btn btn-sm btn-link mr-2">
          Пользователи
        </button>
        <button type="button" [ngClass]="{ 'active': filters.type === UserRoleEnum.Deliveler }"
                (click)="onFiltersChange({ type: UserRoleEnum.Deliveler })" class="btn btn-sm btn-link mr-2">
          Доставщики
        </button>
      </div>
      <div *ngIf="users?.length" class="col-md-6 text-right mobile-hide">
        <ud-per-page-pagination
          #perPagePagination
          [page]="filters.page"
          [perPage]="filters.per_page"
          [collectionSize]="usersItemTotal"
          (paramsChange)="onPaginationChange($event)">
        </ud-per-page-pagination>
      </div>
    </div>
  
    <ud-spinner [show]="loading"></ud-spinner>
  
    <div *ngIf="!users?.length && !loading" class="text-center">
      Пользователи не найдены
    </div>
  
    <div *ngIf="users?.length" class="table-responsive">
      <table class="table table-default">
        <thead>
        <tr>
          <th>ID</th>
          <th>Ник</th>
          <th>Телефон</th>
          <th>Тип</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let i = index; trackBy: usersTrackByFunc">
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.phone }}</td>
          <td *ngIf="user.type === 'USER'">Пользователь</td>
          <td *ngIf="user.type === 'DELIVELER'">Доставщик</td>
          <td class="text-right">
            <user-components-user-actions
              [users]="user"
              (action)="onUserAction($event, user, i)"
              [role]="user.type">
            </user-components-user-actions>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="users?.length" class="mt-4 text-right">
      <ud-per-page-pagination
        #perPagePagination
        [page]="filters.page"
        [perPage]="filters.per_page"
        [collectionSize]="usersItemTotal"
        (paramsChange)="onPaginationChange($event)">
      </ud-per-page-pagination>
      <ud-keypress
        (rightArrowPress)="nextPage(perPagePagination.hasNextPage())"
        (leftArrowPress)="prevPage(perPagePagination.hasPrevPage())">
      </ud-keypress>
    </div>
  
  </div>