<form [formGroup]="creatorForm" (submit)="onSubmit($event)">
  <div class="nameDoc">
    <ud-forms-control [control]="creatorForm.get('name')" [errorMessages]="validationMessages.name"
      [disableInvalidClassName]="true">
      <ud-forms-label [asRequired]="isRequired('name')" [attrFor]="'name'">Название документа
      </ud-forms-label>
      <input formControlName="name" id="name" type="text" placeholder="Введите название" class="form-control" />
    </ud-forms-control>

   
      <ud-forms-label [asRequired]="isRequired('check')" [attrFor]="'check'">Автоматическое заполнение ключевых слов    
      </ud-forms-label>
      <input type="checkbox" (click)="change(this)"  name="showKeys" value="a1"/>
    
  </div>

  <ud-card>
    <ud-card-content>
      <div class="row">
        <div class="col-md-3">
          <div formArrayName="autors">
            <div *ngFor="let autor of creatorForm['controls'].autors['controls']; let iControl = index">
              <label>Автор {{iControl + 1}}</label>
              <div class="autorCard" formGroupName="{{iControl}}">
                <div>
                  <ud-forms-control [control]="getAutorsControl(iControl, 'fullname')"
                    [errorMessages]="validationMessages.fullname" [disableInvalidClassName]="true">
                    <ud-forms-label [asRequired]="isRequired('fullname')" [attrFor]="'fullname'">ФИО</ud-forms-label>
                    <input formControlName="fullname" id="fullname" type="text" placeholder="Иванов Иван Иванович"
                      class="form-control" />
                  </ud-forms-control>
                </div>
                <div>
                  <ud-forms-control [control]="getAutorsControl(iControl, 'email')"
                    [errorMessages]="validationMessages.email" [disableInvalidClassName]="true">
                    <ud-forms-label [asRequired]="isRequired('email')" [attrFor]="'email'">Email
                    </ud-forms-label>
                    <input formControlName="email" id="email" type="text" placeholder="ivanov@i.ru"
                      class="form-control" />
                  </ud-forms-control>
                </div>
                <div>
                  <ud-forms-control [control]="getAutorsControl(iControl, 'work')"
                    [errorMessages]="validationMessages.work" [disableInvalidClassName]="true">
                    <ud-forms-label [asRequired]="isRequired('work')" [attrFor]="'work'">Работа
                    </ud-forms-label>
                    <input formControlName="work" id="work" type="text" placeholder="Преподаватель Университета КФУ"
                      class="form-control" />
                  </ud-forms-control>
                </div>
                <div>
                  <ud-forms-control [control]="getAutorsControl(iControl, 'description')"
                    [errorMessages]="validationMessages.description" [disableInvalidClassName]="true">
                    <ud-forms-label [asRequired]="isRequired('description')" [attrFor]="'description'">Сведения об
                      авторе
                    </ud-forms-label>
                    <textarea formControlName="description" id="description" type="text" rows="3" placeholder="Текст"
                      class="form-control"></textarea>
                  </ud-forms-control>
                </div>
                <div>
                  <ud-forms-control [control]="getAutorsControl(iControl, 'descriptionEng')"
                    [errorMessages]="validationMessages.descriptionEng" [disableInvalidClassName]="true">
                    <ud-forms-label [asRequired]="isRequired('descriptionEng')" [attrFor]="'descriptionEng'">Сведения об
                      авторе (на английском)
                    </ud-forms-label>
                    <textarea formControlName="descriptionEng" id="descriptionEng" type="text" rows="3"
                      placeholder="Текст" class="form-control"></textarea>
                  </ud-forms-control>
                </div>
                <div>
                  <ud-forms-label [asRequired]="isRequired('photo')" [attrFor]="'photoUpload'">Фото</ud-forms-label>
                  <ud-forms-control [control]="getAutorsControl(iControl, 'photoUpload')"
                    [errorMessages]="validationMessages.photo" [disableInvalidClassName]="true">
                    <div *ngIf="getAutorsControl(iControl, 'photoUpload').value.source">
                      <img [src]="getAutorsControl(iControl, 'photoUpload').value.source" height="200px" width="200px"
                        class="image">
                      <button type="button" class="delete-button" (click)="onPhotoDelete($event, iControl)">X</button>
                    </div>
                    <div *ngIf="!getAutorsControl(iControl, 'photoUpload').value.source">
                      <ud-upload-photo [ngModel]="photoUpload" [ngModelOptions]="{standalone: true}"
                        [showOnUpload]="false" [height]="imageOptions.size.h + 'px'"
                        [width]="imageOptions.size.w + 'px'" [cropOptions]="imageOptions.crop"
                        (ngModelChange)="onPhotoUpload($event, iControl)">
                      </ud-upload-photo>
                    </div>
                  </ud-forms-control>
                </div>
              </div>
              <input type="button" (click)="deleteAutor(iControl)" value="Удалить автора" class="btn btn-clear p-0"
                style="margin-bottom: 1em">
            </div>
            <input type="button" (click)="addAutor()" value="Добавить автора" class="btn btn-primary">
          </div>
        </div>

        <div class="col-md-5">
          <ud-forms-control [control]="creatorForm.get('annotation')" [errorMessages]="validationMessages.annotation"
            [disableInvalidClassName]="true">
            <ud-forms-label [asRequired]="isRequired('annotation')" [attrFor]="'annotation'">Аннотация
            </ud-forms-label>
            <textarea formControlName="annotation" id="annotation" type="text" rows="6" placeholder="Текст аннотации"
              class="form-control"></textarea>
          </ud-forms-control>
          <div id="toggle">
          <ud-forms-control [control]="creatorForm.get('keys')" [errorMessages]="validationMessages.keys"
            [disableInvalidClassName]="true">
            <ud-forms-label [asRequired]="isRequired('keys')" [attrFor]="'keys'">Ключевые слова
            </ud-forms-label>
            <textarea formControlName="keys" id="keys" type="text" rows="3" placeholder="Ключ1, Ключ2, КлючN"
              class="form-control"></textarea>
          </ud-forms-control>
        </div>
          <ud-forms-control [control]="creatorForm.get('introduction')"
            [errorMessages]="validationMessages.introduction" [disableInvalidClassName]="true">
            <ud-forms-label [asRequired]="isRequired('introduction')" [attrFor]="'introduction'">Вступление
            </ud-forms-label>
            <textarea formControlName="introduction" id="introduction" type="text" rows="12" placeholder="Текст"
              class="form-control"></textarea>
          </ud-forms-control>

          <div formArrayName="main">
            <div *ngFor="let m of creatorForm['controls'].main['controls']; let iControl = index">
              <label>Раздел {{iControl + 1}}</label>
              <div class="autorCard" formGroupName="{{iControl}}">
                <div>
                  <div>
                    <ud-forms-control [control]="getMainControl(iControl, 'name')"
                      [errorMessages]="validationMessages.name" [disableInvalidClassName]="true">
                      <input formControlName="name" id="name" type="text" placeholder="Название раздела"
                        class="form-control" />
                    </ud-forms-control>
                  </div>
                  <ud-forms-control [control]="getMainControl(iControl, 'text')"
                    [errorMessages]="validationMessages.text" [disableInvalidClassName]="true">
                    <ud-forms-label [asRequired]="isRequired('text')" [attrFor]="'text'">Текст
                    </ud-forms-label>
                    <textarea formControlName="text" id="text" type="text" rows="12" placeholder="Текст"
                      class="form-control"></textarea>
                  </ud-forms-control>
                </div>
              </div>
              <input type="button" (click)="deleteMain(iControl)" value="Удалить раздел" class="btn btn-clear p-0"
                style="margin-bottom: 1em">
            </div>
            <input type="button" (click)="addMain()" value="Добавить раздел" class="btn btn-primary">
          </div>

          <ud-forms-control [control]="creatorForm.get('conclusion')" [errorMessages]="validationMessages.conclusion"
            [disableInvalidClassName]="true">
            <ud-forms-label [asRequired]="isRequired('conclusion')" [attrFor]="'conclusion'">Заключение
            </ud-forms-label>
            <textarea formControlName="conclusion" id="conclusion" type="text" rows="12" placeholder="Текст"
              class="form-control"></textarea>
          </ud-forms-control>
          <ud-forms-control [control]="creatorForm.get('bibliography')"
            [errorMessages]="validationMessages.bibliography" [disableInvalidClassName]="true">
            <ud-forms-label [asRequired]="isRequired('bibliography')" [attrFor]="'bibliography'">Список литературы
            </ud-forms-label>
            <textarea formControlName="bibliography" id="bibliography" type="text" rows="6" placeholder="Описание"
              class="form-control"></textarea>
          </ud-forms-control>

        </div>
        <div class="col-md-4">
          <ud-forms-control [control]="creatorForm.get('annotationEng')" [errorMessages]="validationMessages.annotationEng"
            [disableInvalidClassName]="true">
            <ud-forms-label [asRequired]="isRequired('annotationEng')" [attrFor]="'annotationEng'">Аннотация (на английском)
            </ud-forms-label>
            <textarea formControlName="annotationEng" id="annotationEng" type="text" rows="6" placeholder="Текст аннотации"
              class="form-control"></textarea>
          </ud-forms-control>
          <div id="toggle1">
          <ud-forms-control [control]="creatorForm.get('keysEng')" [errorMessages]="validationMessages.keysEng"
            [disableInvalidClassName]="true">
            <ud-forms-label [asRequired]="isRequired('keysEng')" [attrFor]="'keysEng'">Ключевые слова (на английском)
            </ud-forms-label>
            <textarea formControlName="keysEng" id="keysEng" type="text" rows="3" placeholder="Ключ1, Ключ2, КлючN"
              class="form-control"></textarea>
          </ud-forms-control>
          </div>
        </div>
        <ud-spinner [show]="categoryCreating"></ud-spinner>
      </div>
    </ud-card-content>
  </ud-card>
  <!-- <div class="nameDoc">
    <ud-forms-control [control]="creatorForm.get('name')" [errorMessages]="validationMessages.name"
          [disableInvalidClassName]="true">
          <ud-forms-label [asRequired]="isRequired('name')" [attrFor]="'name'">Название документа
          </ud-forms-label>
          <input formControlName="name" id="name" type="text" placeholder="Введите название" class="form-control" />
        </ud-forms-control>
</div> -->

  <!-- <ud-card>
  <ud-card-content>
    <div class="row">
      <div class="col-md-3">
        <div formArrayName="autors">
          <div *ngFor="let autor of creatorForm['controls'].autors['controls']; let iControl = index">
            <label>Автор {{iControl + 1}}</label>
            <div class = "autorCard" formGroupName="{{iControl}}">
              <div>
                <ud-forms-control [control]="getAutorsControl(iControl, 'fullname')"
                  [errorMessages]="validationMessages.fullname" [disableInvalidClassName]="true">
                  <ud-forms-label [asRequired]="isRequired('fullname')" [attrFor]="'fullname'">ФИО</ud-forms-label>
                  <input formControlName="fullname" id="fullname" type="text" placeholder="Иван Иванов Иванович"
                    class="form-control" />
                </ud-forms-control>
              </div>
              <div>
                <ud-forms-control [control]="getAutorsControl(iControl, 'email')"
                  [errorMessages]="validationMessages.email" [disableInvalidClassName]="true">
                  <ud-forms-label [asRequired]="isRequired('email')" [attrFor]="'email'">Email
                  </ud-forms-label>
                  <input formControlName="email" id="email" type="text" placeholder="ivanov@i.ru"
                    class="form-control" />
                </ud-forms-control>
              </div>
              <div>
                <ud-forms-control [control]="getAutorsControl(iControl, 'work')"
                  [errorMessages]="validationMessages.work" [disableInvalidClassName]="true">
                  <ud-forms-label [asRequired]="isRequired('work')" [attrFor]="'work'">Работа
                  </ud-forms-label>
                  <input formControlName="work" id="work" type="text" placeholder="Преподаватель Университета КФУ"
                    class="form-control" />
                </ud-forms-control>
              </div>
              <div>
                <ud-forms-label [asRequired]="isRequired('photo')" [attrFor]="'photoUpload'">Фото</ud-forms-label>
                <ud-forms-control [control]="getAutorsControl(iControl, 'photoUpload')"
                  [errorMessages]="validationMessages.photo" [disableInvalidClassName]="true">
                  <div *ngIf="getAutorsControl(iControl, 'photoUpload').value.source">
                    <img [src]="getAutorsControl(iControl, 'photoUpload').value.source" height="200px"
                      width="200px" class="image">
                    <button type="button" class="delete-button" (click)="onPhotoDelete($event, iControl)">X</button>
                  </div>
                  <div *ngIf="!getAutorsControl(iControl, 'photoUpload').value.source">
                    <ud-upload-photo [ngModel]="photoUpload" [ngModelOptions]="{standalone: true}"
                      [showOnUpload]="false" [height]="imageOptions.size.h + 'px'"
                      [width]="imageOptions.size.w + 'px'" [cropOptions]="imageOptions.crop"
                      (ngModelChange)="onPhotoUpload($event, iControl)">
                    </ud-upload-photo>
                  </div>
                </ud-forms-control>
              </div>
            </div>
            <input type="button" (click)="deleteAutor(iControl)" value="Удалить автора"
              class="btn btn-clear p-0" style="margin-bottom: 1em">
          </div>
          <input type="button" (click)="addAutor()" value="Добавить автора" class="btn btn-primary">
        </div>
      </div>

      <div class="col-md-5">
        <ud-forms-control [control]="creatorForm.get('annotation')" [errorMessages]="validationMessages.annotation"
        [disableInvalidClassName]="true">
        <ud-forms-label [asRequired]="isRequired('annotation')" [attrFor]="'annotation'">Аннотация
        </ud-forms-label>
        <textarea formControlName="annotation" id="annotation" type="text" rows="6" placeholder="Текст аннотации"
        class="form-control"></textarea>
      </ud-forms-control>
      <ud-forms-control [control]="creatorForm.get('keys')" [errorMessages]="validationMessages.keys"
        [disableInvalidClassName]="true">
        <ud-forms-label [asRequired]="isRequired('keys')" [attrFor]="'keys'">Ключевые слова
        </ud-forms-label>
        <textarea formControlName="keys" id="keys" type="text" rows="3" placeholder="Ключ1, Ключ2, КлючN"
        class="form-control"></textarea>
      </ud-forms-control>
      <ud-forms-control [control]="creatorForm.get('introduction')" [errorMessages]="validationMessages.introduction"
        [disableInvalidClassName]="true">
        <ud-forms-label [asRequired]="isRequired('introduction')" [attrFor]="'introduction'">Вступление
        </ud-forms-label>
        <textarea formControlName="introduction" id="introduction" type="text" rows="12" placeholder="Текст"
        class="form-control"></textarea>
      </ud-forms-control>

      <div formArrayName="main">
        <div *ngFor="let m of creatorForm['controls'].main['controls']; let iControl = index">
          <label>Раздел {{iControl + 1}}</label>
          <div class = "autorCard" formGroupName="{{iControl}}">
            <div>
              <div>
                <ud-forms-control [control]="getMainControl(iControl, 'name')"
                [errorMessages]="validationMessages.name" [disableInvalidClassName]="true">
                <input formControlName="name" id="name" type="text" placeholder="Название раздела"
                  class="form-control" />
              </ud-forms-control>
            </div>
              <ud-forms-control [control]="getMainControl(iControl, 'text')"
                [errorMessages]="validationMessages.text" [disableInvalidClassName]="true">
                <ud-forms-label [asRequired]="isRequired('text')" [attrFor]="'text'">Текст
                </ud-forms-label>
                <textarea formControlName="text" id="text" type="text" rows="12" placeholder="Текст"
                 class="form-control"></textarea>
              </ud-forms-control>
            </div>
          </div>
          <input type="button" (click)="deleteMain(iControl)" value="Удалить раздел"
            class="btn btn-clear p-0" style="margin-bottom: 1em">
        </div>
        <input type="button" (click)="addMain()" value="Добавить раздел" class="btn btn-primary">
      </div>

      <ud-forms-control [control]="creatorForm.get('conclusion')" [errorMessages]="validationMessages.conclusion"
        [disableInvalidClassName]="true">
        <ud-forms-label [asRequired]="isRequired('conclusion')" [attrFor]="'conclusion'">Заключение
        </ud-forms-label>
        <textarea formControlName="conclusion" id="conclusion" type="text" rows="12" placeholder="Текст"
        class="form-control"></textarea>
      </ud-forms-control>
      <ud-forms-control [control]="creatorForm.get('bibliography')" [errorMessages]="validationMessages.bibliography"
        [disableInvalidClassName]="true">
        <ud-forms-label [asRequired]="isRequired('bibliography')" [attrFor]="'bibliography'">Список литературы
        </ud-forms-label>
        <textarea formControlName="bibliography" id="bibliography" type="text" rows="6" placeholder="Описание"
        class="form-control"></textarea>
      </ud-forms-control>
        
      </div>
      <ud-spinner [show]="categoryCreating"></ud-spinner>
    </div>
  </ud-card-content>
</ud-card> -->
  <div class="mt-5">
    <button type="button" (click)="onCancelClicked($event)" class="btn btn-clear p-0">Отмена</button>
    <button type="submit" class="btn btn-round btn-primary ml-4">Сохранить</button>
  </div>
</form>