<div class="page">
    <div class="page-header">
      <div>
        <div class="page-title">Новый документ</div>
        <ud-breadcrumbs [items]="breadcrumbs"></ud-breadcrumbs>
      </div>
    </div>
  
  
    <creator-components-creator-form
            [creator]="creator"
            [loading]="saving"
            (cancel)="onCancelClicked()"
            (successSubmit)="onFormSuccessSubmit($event)">
    </creator-components-creator-form>
  
  </div>