<div class="page">
  <div class="page-header">
    <div>
      <div class="page-title">Промокод</div>
      <ud-breadcrumbs [items]="breadcrumbs"></ud-breadcrumbs>
    </div>
  </div>


  <ud-spinner [show]="loading"></ud-spinner>

  <ng-template [ngIf]="!loading">
    <promoCode-components-promoCode-form
      *ngIf="promoCode; else notFound"
      [promoCode]="promoCode"
      (cancel)="onCancel()"
      (successSubmit)="onFormSuccessSubmit($event)">
    </promoCode-components-promoCode-form>

    <ng-template #notFound>
      <div class="text-center">Промокод не найден</div>
    </ng-template>
  </ng-template>

</div>
  