<div class="dashboard-main">
  <nav [ngClass]="{ 'db-nav--opened': isNavOpened }" (click)="onNavClicked($event)" class="db-nav">
    <!-- <div class="db-nav__logo-wrap">
      <div class="icon icon-logo"></div>

    </div> -->
    <a routerLink="./users" routerLinkActive="active" class="db-nav__it">
      <i class="icon icon-singers"></i>
      <div class="db-nav__it__label">Профиль</div>
    </a>
    <a routerLink="./creators" routerLinkActive="active" class="db-nav__it">

      <i class="icon icon-doc"></i>
      <div class="db-nav__it__label">Документы</div>
    </a>


    <hr class="mt-0">
    <div class="text-center">
      <span class="ud-link font-sm" (click)="onLogoutClicked($event)">Выход</span>
    </div>
  </nav>

  <div class="db-content">
    <router-outlet></router-outlet>
  </div>

  <p-confirmDialog></p-confirmDialog>

</div>