<div class="page">
  <div class="page-header">
    <div class="page-title">Документ</div>
  </div>

  <div class="row mb-4 align-items-center">
    <div class="col-md-4">
      <a routerLink="./new" class="btn btn-sm btn-round btn-primary">
        + Создать документ
      </a>
    </div>
  </div>


  <div class="row my-4">
    <div class="col-md-6">
      <button type="button" [ngClass]="{ 'active': filters.status === '' }" (click)="onFiltersChange({ status: '' })"
        class="btn btn-sm btn-link mr-2">
        Все
      </button>
      <button type="button" [ngClass]="{ 'active': filters.status === CreatorStatusEnum.Active }"
        (click)="onFiltersChange({ status: CreatorStatusEnum.Active })" class="btn btn-sm btn-link mr-2">
        Активные
      </button>
      <button type="button" [ngClass]="{ 'active': filters.status === CreatorStatusEnum.Deleted }"
        (click)="onFiltersChange({ status: CreatorStatusEnum.Deleted })" class="btn btn-sm btn-link mr-2">
        Удаленные
      </button>
    </div>
    <div *ngIf="creator?.length" class="col-md-6 text-right mobile-hide">
      <ud-per-page-pagination #perPagePagination [page]="filters.page" [perPage]="filters.per_page"
        [collectionSize]="creatorItemTotal" (paramsChange)="onPaginationChange($event)">
      </ud-per-page-pagination>
    </div>
  </div>

  <ud-spinner [show]="loading"></ud-spinner>

  <div *ngIf="!creator?.length && !loading" class="text-center">
    Документ не найден
  </div>

  <div *ngIf="creator?.length" class="table-responsive">
    <table class="table table-default">
      <thead>
        <tr>
          <th>Id</th>
          <th>Название</th>
          <th>Аннотация</th>
          <th>Скачать док</th>
          <th>Статус</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let creator of creator; let i = index; trackBy: creatorTrackByFunc">
          <td>{{ creator.id }}</td>
          <td>{{ creator.name.length > 30 ? creator.name.substring(0, 30) +" ..." : creator.name}}</td>
          <td>{{ creator.annotation.length > 200 ? creator.annotation.substring(0, 200) +" ..." : creator.annotation}}</td>
          <td>
            <input type="button" (click) = "downloadMyFile(creator.link,creator.name)"  value="Скачать документ" class="btn btn-primary">
          </td>
          <td>
            <creator-components-creator-status-view [creator]="creator"></creator-components-creator-status-view>
          </td>
          <td class="text-right">
            <creator-components-creator-actions [creator]="creator" (action)="onCreatorAction($event, creator, i)"
              [status]="creator.status">
            </creator-components-creator-actions>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="creator?.length" class="mt-4 text-right">
    <ud-per-page-pagination #perPagePagination [page]="filters.page" [perPage]="filters.per_page"
      [collectionSize]="creatorItemTotal" (paramsChange)="onPaginationChange($event)">
    </ud-per-page-pagination>
    <ud-keypress (rightArrowPress)="nextPage(perPagePagination.hasNextPage())"
      (leftArrowPress)="prevPage(perPagePagination.hasPrevPage())">
    </ud-keypress>
  </div>

</div>