<div class="page">
    <div class="page-header">
      <div>
        <div class="page-title">Новый Промокод</div>
        <ud-breadcrumbs [items]="breadcrumbs"></ud-breadcrumbs>
      </div>
    </div>

    <promoCode-components-promoCode-form
            [promoCode]="promoCode"
            [loading]="saving"
            (cancel)="onCancel()"
            (successSubmit)="onFormSuccessSubmit($event)">
    </promoCode-components-promoCode-form>
  
  </div>