<div class="page">
    <div class="page-header">
      <div>
        <div class="page-title">Заявки</div>
        <ud-breadcrumbs [items]="breadcrumbs"></ud-breadcrumbs>
      </div>
    </div>
  
        <ud-card>
          <ud-card-content>
            <div class="row">
              <div class="col-md-3">
               <p>ID: {{request?.id}}</p>  
               <p>Статус: {{request?.status}}</p>  
               <p>Тип: {{request?.type}}</p>  
               <p>Цена: {{request?.cost}}</p>  
               <p>Продукт: {{request?.productModel.name}}</p>  
               <p>Комментарий: {{request?.comment}}</p>  
               <p>Время доставки: {{request?.delivelerTime | udDateTime}}</p>  
               <p>Состояние: {{request?.state}}</p>  
              </div>
            </div>
          </ud-card-content>
        </ud-card>


  
    <ud-spinner [show]="loading"></ud-spinner>

    <ng-template #notFound>
        <div class="text-center">Заявка не найдена</div>
    
    </ng-template>
  
  </div>
    